* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  color: rgb(87, 87, 250);
  text-decoration: underline;
  margin-bottom: 30px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin: auto;
  align-items: start;
}
form {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
label {
  font-weight: 600;
}
input,
select {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
  border-radius: 6px;
}

.form-btn {
  background-color: rgb(87, 87, 250);
  font-weight: 600;
  color: white;
  cursor: pointer;
  border-radius: 12px;
}
.form-btn:active {
  scale: 1.03;
}

th {
  padding: 8px;
  background-color: rgb(87, 87, 250);
  color: white;
}
td {
  padding: 8px;
  text-align: center;
  background-color: rgb(221, 218, 218);
}
button {
  background-color: maroon;
  color: white;
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
}
button:hover {
  scale: 1.04;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: block;
    margin: auto;
  }

  form {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
  }

  table {
    max-width: 80%;
    margin: auto;
  }
}
